.theme--light {
  &.d-card {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    .d-card__subtitle, >.d-card__text{
      color: rgba(0, 0, 0, 0.6);
    }
    &.d-card__outlined {
      border: thin solid rgba(0, 0, 0, 0.12)
    }
  }
}