.d-btn {
  margin: 10px 1px;
  padding: 10px + 2 15px + 15;
  font-size: 12px;
  font-weight: 400 !important;
  height: auto;
  line-height: 30px;
  color: $white !important;
  cursor: pointer;
  border-radius: 3px;

  &:hover {
    background-color: #00307775 !important;
  }

  &.d-btn__flat {
    background-color: transparent;
  }

  &.d-btn__icon {
    width: 41px;
    height: 41px;
    line-height: 48px;
    padding: 0;

    &.d-btn__round {
      border-radius: 50%;
    }
  }
  :not(.v-btn__round){
    height: 36px;
    min-width: 64px;
    padding: 0 16px;
  }
  &.d-size__default, .d-size__large{
    height: 36px;
    font-size: .875rem;
  }
}